.scrollable-cards {
  overflow-y: scroll;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
.scrollable-cards {
  scrollbar-width: auto;
  scrollbar-color: #838383 #ffffff;
  /* overflow-x: hidden; */
}

/* Chrome, Edge, and Safari */
.scrollable-cards::-webkit-scrollbar {
  width: 4px;
  /* overflow-x: hidden; */
}

.scrollable-cards::-webkit-scrollbar-track {
  background: #ffffff;
  /* overflow-x: hidden; */
}

.scrollable-cards::-webkit-scrollbar-thumb {
  background-color: #838383;
  border-radius: 10px;
  border: 3px solid #838383;
  /* overflow-x: hidden; */
}
